/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.header-container {
  background-color: rgba(16, 2, 77, 0.752);
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.header-container ul {
  display: flex;
  list-style-type: none;
  gap: 28px;
}

.header-container ul a {
  text-decoration: none;
  color: white;
}

.title {
  margin-left: 1em;
  margin-top: 10px;
  color: rgb(16, 2, 77);
}

.add-comment{
  margin: 0 1rem 1rem 0;
}
