.post-comment {
  border: 5px solid black;
}

.comment-title {
  font-weight: bold;
  font-size: 1.4rem;
}

.pagination-btn {
  width: 90px;
  background-color: rgba(16, 2, 77, 0.832);
  color: #fff;
  border-radius: 5px;
  padding: 15px;
  border: 0;
}
